<div class="ng-cloak">
	<h1>Hej {{user.firstName}}</h1>
	<ul class="nav nav-pills">
		<li ng-class="{active : mainTab === 'daily'}"><a ng-click="setMainTab('daily')">Dagens aktivitet</a></li>
		<li ng-class="{active : mainTab === 'onGoing'}"><a ng-click="setMainTab('onGoing')">Aktuella kurser</a></li>
		<li ng-class="{active : mainTab === 'upComming'}"><a ng-click="setMainTab('upComming')">Kommande Kurser</a></li>
		<li ng-class="{active : mainTab === 'complete'}"><a ng-click="setMainTab('complete')">Färdiga kurser</a></li>
	</ul>
	<br>
	<div ng-show="mainTab === 'daily'">
		<div class="row">
			<div class="col-xs-11 col-md-8">
				<div ng-if="timeForWeeklyFeedback">
					<button class="btn btn-clear" ng-click="setMainTab('feedbackWeekly')">Dags för veckans Feedback!!!</button>
					<br><br>
				</div>
				<ul class="list-unstyled list-group">
					<li class="list-group-item" ng-repeat="news in studentNews" ng-hide="$index > newsIndex">
						<p>{{news.date}}<span ng-if="news.type != 'general'" class="badge pull-right">{{news.type}}</span><span ng-if="news.type === 'general'"
							 class="badge pull-right">Alla</span></p>
						<h4>{{news.title}}</h4>
						<p>{{news.content}}<span class="pull-right">{{news.time}}</span></p>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<button class="btn btn-clear" ng-click="moreNews()">Se mer</button>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="attendance-box">
					<button class="btn btn-default" ng-click="attendance()">
					<p>Dagens närvaro</p>
					<div class="badge badge-success" ng-show="data.status === 3">Här</div>
					<div class="badge badge-warning" ng-show="data.status === 2">Sen</div>
					<div class="badge badge-error" ng-show="data.status === 1">Ej Här</div>
					<div class="badge" ng-hide="data.status">Ej Svarat</div>
				</button>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<p ng-hide="gaveFeedbackToday">Dagens feedback:</p>
				<span ng-hide="gaveFeedbackToday" ng-click="giveFeedback(-1, 'daily')" class="btn btn-feedback-bad"></span>
				<span ng-hide="gaveFeedbackToday" ng-click="giveFeedback(0, 'daily')" class="btn btn-feedback-neutral"></span>
				<span ng-hide="gaveFeedbackToday" ng-click="giveFeedback(1, 'daily')" class="btn btn-feedback-good"></span>
				<span ng-show="gaveFeedbackToday">Du har gett feedback idag.</span>
			</div>
		</div>
	</div>
	<div ng-show="mainTab != 'daily'">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4">
				<ul class="list-unstyled list-group">
					<li class="courses" ng-repeat="course in studentCourseDetails">
						<div ng-show="course.status === mainTab" class="list-group-item coursehover" data-toggle="modal" data-target="#{{course.id}}"><strong class="coursetitle pull-left">{{course.title}}</strong>
							<span ng-if="course.grade === 'G' || course.grade === 'VG'" class="badge badge-success">{{course.grade}}</span>
							<span ng-if="course.grade === 'IG'" class="badge badge-error">{{course.grade}}</span>
							<span class="badge" ng-hide="course.grade">Ej Klar</span>
							<br>
							<p>{{course.description}}</p>
						</div>
						<!-- Modal -->
						<div class="modal" id="{{course.id}}" role="dialog" backdrop="static">
							<div class="modal-dialog">
								<!-- Modal content-->
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">Lärportal</h4>
									</div>
									<div class="modal-body">
										<ul class="nav nav-tabs">
											<li ng-class="{active: showCourseTab === 1}"><a ng-click="setCourseTab(1)">Kursdetaljer</a></li>
											<li ng-class="{active: showCourseTab === 2}"><a ng-click="setCourseTab(2)">Schema</a></li>
											<li ng-class="{active: showCourseTab === 3}"><a ng-click="setCourseTab(3)">Betyg</a></li>
										</ul>
										<div ng-show="showCourseTab === 1">
											<h3>{{course.details.title}}</h3>
											<p>{{course.details.content}}</p>
											<ul ng-repeat="x in course.details.books">
												<li><b>{{x.title + " | "}}</b> {{x.desc}}</li>
											</ul>
											<br>
											<ul class="list-unstyled list-group">
												<li class="list-group-item" ng-repeat="x in course.details.goals">
													{{x}}
												</li>
											</ul>
										</div>
										<div ng-show="showCourseTab === 2">{{course.status}}</div>
										<div ng-show="showCourseTab === 3">
											<ul class="list-unstyled list-group">
												<li class="list-group-item" ng-repeat="grade in course.gradeWork">{{grade.name}}
													<span ng-hide="grade.grade === 'IG'" class="badge badge-success">{{grade.grade}}</span>
													<span ng-show="grade.grade === 'IG'" class="badge badge-error">{{grade.grade}}</span>
													<span class="badge" ng-hide="grade.grade">Ej Klar</span>
												</li>
											</ul>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div ng-show="mainTab === 'feedbackWeekly'">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<h4>Feedback enkät</h4>
				<ul class="list-unstyled list-group">
					<li class="list-group-item" ng-repeat="question in weeklyFeedback">
						<h4>{{$index + 1}} {{question.question}}</h4>
						<textarea ng-if="question.type === 'Text'" id="{{question.$id}}" class="form-control" rows="5"></textarea>
						<div ng-if="question.type === '5-skala'">
							<div class="row">
								<p class="col-xs-8">Ranka hur mucket du håller med från 1 till 5, där 1 är minst.</p>
							</div>
							<div class="btn-group" data-toggle="buttons">
								<label class="btn btn-primary" ng-click="setWeeklyFeedbackChoice(question.$id, 1)">
										<input type="radio" autocomplete="off">1</label>
								<label class="btn btn-primary" ng-click="setWeeklyFeedbackChoice(question.$id, 2)">
										<input type="radio" autocomplete="off">2</label>
								<label class="btn btn-primary" ng-click="setWeeklyFeedbackChoice(question.$id, 3)">
										<input type="radio" autocomplete="off">3</label>
								<label class="btn btn-primary" ng-click="setWeeklyFeedbackChoice(question.$id, 4)">
										<input type="radio" autocomplete="off">4</label>
								<label class="btn btn-primary" ng-click="setWeeklyFeedbackChoice(question.$id, 5)">
										<input type="radio" autocomplete="off">5</label>
							</div>
						</div>
					</li>
				</ul>
				<button class="btn btn-clear" ng-click="sendWeeklyFeedback()">Skicka in</button>
			</div>
		</div>
	</div>
</div>