<div>
	<h1>Hej {{user.firstName}}</h1>
	<br>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-4">
			<ul class="list-unstyled list-group">
				<li class="courses" ng-repeat="course in studentCourseDetails">
					<div class="list-group-item"><strong class="coursetitle pull-left">{{course.title}}</strong>
						<span ng-hide="course.grade === 'IG'" class="badge badge-success">{{course.grade}}</span>
						<span ng-show="course.grade === 'IG'" class="badge badge-error">{{course.grade}}</span>
						<br>
						<p>{{course.description}}</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div class="attendance-box">
				<button class="btn btn-default" ng-click="attendance()">
					<p>Dagens närvaro</p>
					<div class="badge badge-success" ng-show="data.status === 3">Här</div>
					<div class="badge badge-warning" ng-show="data.status === 2">Sen</div>
					<div class="badge badge-error" ng-show="data.status === 1">Ej Här</div>
					<div class="badge" ng-hide="data.status">Ej Svarat</div>
				</button>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<p>Dagens feedback:</p>
			<span ng-hide="gaveFeedbackToday" ng-click="giveFeedback(-1, 'daily')" class="btn btn-feedback-bad"></span>
			<span ng-hide="gaveFeedbackToday" ng-click="giveFeedback(0, 'daily')" class="btn btn-feedback-neutral"></span>
			<span ng-hide="gaveFeedbackToday" ng-click="giveFeedback(1, 'daily')" class="btn btn-feedback-good"></span>
			<span ng-show="gaveFeedbackToday" >Du har gett feedback idag.</span>
			<br>
			<br>
			<br>
			<br>
			<p>Veckans feedback:</p>
			<br>
			<p>Skriv detaljerad feedback först:</p>
			<input type="text" ng-model="feedbackText">
			<br>
			<br>
			<div ng-click="giveFeedback(-1, 'weekly', feedbackText)" class="btn btn-feedback-bad"></div>
			<div ng-click="giveFeedback(0, 'weekly', feedbackText)" class="btn btn-feedback-neutral"></div>
			<div ng-click="giveFeedback(1, 'weekly', feedbackText)" class="btn btn-feedback-good"></div>
		</div>
	</div>
</div>
</div>