html{
  position: relative;
  min-height: 100%
}
html,body{
  margin:0;
  padding:0;
}
body{
  margin-left: 1em;
}
.footer{
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  height: 2.5em;
  background-color: darkslategray;
  color: lightslategray;
}

.bgimage{
  background-image: url('../img/school.jpg');
   /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  background-repeat:no-repeat;
    background-size:cover;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	


  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  .bgimage {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}


.container {

padding-top: 50px;

}

li>.list-group-item{
  max-width: 20em;
  word-wrap: break-word;
  margin-left: .5em;
}
textarea{
  resize: none;
}
#topbar{
    background: #000;
    color: #999;
    height: 5em;
    left: 0px;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1000;
    text-indent: 100px;
    
}
#filler{
  height: 4em;
}
#frontpage-image{
  background-image: url("../img/smiling.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#logo{
    padding: 10px; 
    font-weight: bold;
    font-size: 4em;
    color: #1E90FF;
    text-shadow: 1px 1px #CFDEF3, 
                2px 2px #CFDEF3, 
                3px 3px #CFDEF3;
   
}

#logo:hover {
   position: relative; 
   cursor: pointer;
  cursor: hand;
   top: -3px; 
   left: -3px; 
   text-shadow: 1px 1px #CFDEF3, 
                2px 2px #CFDEF3, 
                3px 3px #CFDEF3, 
                4px 4px #CFDEF3, 
                5px 5px #CFDEF3, 
                6px 6px #CFDEF3;
}

#usernamedisplay {
  color:#CFDEF3;
}

#loginbox{
    height: 4em;
    position: relative;
}
#morenews{
  margin-top: 5px;
}
#usernamedisplay{
    position: absolute;
    margin-top: 1.2em;
}
.btns-for-class-transfer{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-height: 100%;
}
.content-container{
  margin-left: 15px;
  margin-right: 15px;
}
.div-inline{
  display: inline-block;
}
.edu-clickable{
  cursor: pointer;
  cursor: hand
}
.loginrow{
    height: 1em;
}
.logininput{
    color: black;
    margin-top: -1em;
}
.loginbutton{
  width: 5em;
  margin-top: 1em;
}
.fullscreen{
    height: 100%;
}
.redback{
    background-color: darkred;
    height: 100%;
}
.courses>.badge{
  margin-top: 1em;
}
.coursehover:hover{
  cursor: pointer;
  cursor: hand;
}
.badge-error {
  background-color: #b94a48;
}
.badge-warning {
  background-color: #f89406;
}
.badge-success {
  background-color: #468847;
}
.btn-feedback-good{
  background-image: url("../img/smiley-face.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 4em;
  width: 4em;
}
.btn-feedback-neutral{
  background-image: url("../img/neutral-face.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 4em;
  width: 4em;
}
.btn-feedback-bad{
  background-image: url("../img/frowny-face.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 4em;
  width: 4em;
}
.btn-feedback-good:active{
  background-image: url("../img/smiley-face.png");
}
.btn-feedback-neutral:active{
  background-image: url("../img/neutral-face.png");
}
.btn-feedback-bad:active{
  background-image: url("../img/frowny-face.png");
}
.attendance-box{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 5em;
  width: 10em;
}
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
a:hover{
  cursor: pointer;
  cursor: hand;
}