body{
  margin-left: 1em;
}
li>.list-group-item{
  max-width: 20em;
  word-wrap: break-word;
  margin-left: .5em;
}
#topbar{
    background: darkslategray;
    color: lightblue;
    height: 4em;
    left: 0px;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1000;
}
#filler{
  height: 4em;
}
#frontpage-image{
  background-image: url("../img/smiling.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#logo{
    font-weight: bold;
    font-size: 3em;
}
#loginbox{
    height: 4em;
    position: relative;
}
#usernamedisplay{
    position: absolute;
    margin-top: 1.2em;
}
.loginrow{
    height: 1em;
}
.logininput{
    color: black;
    margin-top: -1em;
}
.loginbutton{
  width: 5em;
  margin-top: 1em;
}
.fullscreen{
    height: 100%;
}
.redback{
    background-color: darkred;
    height: 100%;
}
.courses>.badge{
  margin-top: 1em;
}
.badge-error {
  background-color: #b94a48;
}
.badge-warning {
  background-color: #f89406;
}
.badge-success {
  background-color: #468847;
}
.btn-feedback-good{
  background-image: url("../img/smiley-face.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 4em;
  width: 4em;
}
.btn-feedback-neutral{
  background-image: url("../img/neutral-face.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 4em;
  width: 4em;
}
.btn-feedback-bad{
  background-image: url("../img/frowny-face.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 4em;
  width: 4em;
}
.btn-feedback-good:active{
  background-image: url("../img/smiley-face.png");
}
.btn-feedback-neutral:active{
  background-image: url("../img/neutral-face.png");
}
.btn-feedback-bad:active{
  background-image: url("../img/frowny-face.png");
}
.attendance-box{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 5em;
  width: 10em;
}
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
a:hover{
  cursor: pointer;
  cursor: hand;
}