<div class="ng-cloak">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8">
            <div>
                <h1>Hej {{user.firstName}} {{user.lastName}}</h1>
            </div>
            <ul class="nav nav-pills">
                <li ng-class="{active : adminTab === 'news'}"><a ng-click="setAdminTab('news')">Nyheter</a></li>
                <li ng-class="{active : adminTab === 'courses'}"><a ng-click="setAdminTab('courses')">Kurser</a></li>
                <li ng-class="{active : adminTab === 'classes'}"><a ng-click="setAdminTab('classes')">Klasser</a></li>
                <li ng-class="{active : adminTab === 'users'}"><a ng-click="setAdminTab('users')">Användare</a></li>
                <li ng-class="{active : adminTab === 'feedback'}"><a ng-click="setAdminTab('feedback')">Feedback</a></li>
            </ul>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-xs-12 col-md-8">
            <div ng-show="adminTab === 'news'">
                <ul class="nav nav-tabs">
                    <li ng-class="{active : adminNewsTab === 'read'}"><a ng-click="setAdminNewsTab('read')">Läs Nyheter</a></li>
                    <li ng-class="{active : adminNewsTab === 'create'}"><a ng-click="setAdminNewsTab('create')">Skapa Nyheter</a></li>
                </ul>
                <br>
                <div ng-show="adminNewsTab === 'read'">
                    <ul class="col-xs-12 col-md-8 list-unstyled list-group">
                        <li class="list-group-item" ng-repeat="news in allNews" ng-show="$index <= newsIndex">
                            <p>{{news.forWho}}: {{news.date}}</p>
                            <h4>{{news.title}}</h4>
                            <p>{{news.content}}</p>
                            <p class="pull-right">{{news.time}}</p>
                            <br>
                        </li>
                    </ul>
                    <button class="btn btn-clear" ng-click="moreNews()">Fler nyheter</button>
                </div>
                <div ng-show="adminNewsTab === 'create'">
                    <form class="col-xs-6">
                        <div>Titel</div>
                        <input type="text" ng-model="newsTitle">
                        <div>Nyheter</div>
                        <input type="text" ng-model="news">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="true">
                            {{newsTypeName}}
                            <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a ng-click="setNewsType('general', 'Alla')">Alla</a></li>
                                <li><a ng-click="setNewsType('APPS1', 'APPS1')">APPS1</a></li>
                                <li><a ng-click="setNewsType('CROSS', 'CROSS')">CROSS</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a ng-click="setNewsType('adminsOnly', 'Endast Admins')">Endast Admins</a></li>
                            </ul>
                        </div>
                    </form>
                    <br>
                    <button class="btn btn-clear" ng-click="createNews(news, newsTitle, newsType)">Skapa!</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-xs-12 col-md-8">
            <div ng-show="adminTab === 'courses'">
                <div class="row">
                    <ul class="nav nav-tabs">
                        <li ng-class="{active : adminCourseTab === 'create'}"><a ng-click="setAdminCoursesTab('create')">Skapa Kurser</a></li>
                        <li ng-class="{active : adminCourseTab === 'courseDetails'}"><a ng-click="setAdminCoursesTab('courseDetails')">Kursdetaljer</a></li>
                    </ul>
                </div>
                <br>
                <div ng-show="adminCourseTab === 'create'">
                    <form>
                        <h2>Skapa ny kurs</h2>
                        <div>Kurskod :</div>
                        <input type="text" ng-model="courseCode">
                        <br>
                        <div>Kursnamn :</div>
                        <input type="text" ng-model="courseName">
                        <br>
                        <div>Beskrivning: </div>
                        <input type="text" ng-model="description">
                        <br>
                        <button class="btn btn-clear" ng-click="createCourse(courseCode, courseName, description)">Skapa!</button>
                    </form>
                </div>
                <div ng-show="adminCourseTab === 'courseDetails'">
                    <div class="row">
                        <p>Välj Kurs:</p>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="courseDetailsPick" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="true">{{courseDetailChoice}}<span class="caret"></span></button>
                            <ul class="dropdown-menu" aria-labelledby="courseDetailsPick">
                                <li ng-repeat="course in allCourses"><a ng-click="setChosenCourseForDetails(course.$id)">{{course.$id}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div ng-hide="courseDetailChoice === 'Välj kurs'">
                                <form>
                                    <div>Titel: </div>
                                    <input type="text" ng-model="courseDetailTitle">
                                    <br>
                                    <div>Detaljer: </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <textarea class="form-control" rows="6" type="text" ng-model="courseDetailText"></textarea>
                                        </div>
                                    </div>
                                    <br>
                                    <div>Lägg till bok: </div>
                                    <br>
                                    <p>Titel: </p><input type="text" ng-model="courseBookTitle"><br>
                                    <p>Beskrivning: </p><input type="text" ng-model="courseBookDescription">
                                    <button class="btn btn-clear" ng-click="addCourseBook(courseBookTitle, courseBookDescription)">Lägg till</button>
                                    <br>
                                    <p>Betygsmål</p>
                                    <br>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span>G </span><textarea class="form-control" type="text" ng-model="gradeGReq"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span>VG</span><textarea class="form-control" type="text" ng-model="gradeVGReq"></textarea>
                                        </div>
                                    </div>
                                    <br>
                                    <button class="btn btn-clear" ng-click="uppdateCourse(courseDetailTitle, courseDetailText, gradeGReq, gradeVGReq)">Uppdatera!</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <ul ng-hide="courseDetailChoice === 'Välj kurs'" class="list-unstyled list-group">
                                <li class="list-group-item">{{courseDetails.title}}</li>
                                <li class="list-group-item">{{courseDetails.content}}</li>
                                <li class="list-group-item" ng-repeat="book in courseBooks">
                                    <strong>{{book.$id}}</strong><button class="btn btn-clear pull-right" ng-click="removeCourseBook(book.$id)">X</button>
                                    <br> {{book.$value}} {{book.key}} {{book.index}} {{book.$key}} {{book.$index}}
                                </li>
                                <li class="list-group-item">G: {{courseDetails.goals.G}}</li>
                                <li class="list-group-item">VG: {{courseDetails.goals.VG}}</li>
                            </ul>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-xs-12 col-md-8">
            <div ng-show="adminTab === 'classes'">
                <div class="row">
                    <ul class="nav nav-tabs">
                        <li ng-class="{active : adminClassTab === 'create'}"><a ng-click="setAdminClassTab('create')">Skapa Klasser</a></li>
                        <li ng-class="{active : adminClassTab === 'handle'}"><a ng-click="setAdminClassTab('handle')">Hantera Klasser</a></li>
                    </ul>
                </div>
                <br>
                <div ng-show="adminClassTab === 'create'">
                    <form>
                        <h2>Skapa ny klass</h2>
                        <div>Klassnamn :</div>
                        <input type="text" ng-model="className">
                        <br>
                        <div>Skola: </div>
                        <input type="text" ng-model="schoolName">
                        <br>
                        <button class="btn btn-clear" ng-click="createClass(className, schoolName)">Skapa!</button>
                    </form>
                </div>
                <div ng-show="adminClassTab === 'handle'">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-xs-12 col-md-11 ">
                            <h4>Välj skola och klass</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-xs-3">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="pickSchoolShow" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="true">{{chosenSchool}}<span class="caret"></span></button>
                                    <ul class="dropdown-menu" aria-labelledby="pickSchoolShow">
                                        <li ng-repeat="school in showSchools">
                                            <a ng-click="showClassList(school.name)">{{school.name}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="input-group-btn">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="pickClassShow" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="true">{{chosenClass}}<span class="caret"></span></button>
                                    <ul class="dropdown-menu" aria-labelledby="pickClassShow">
                                        <li ng-repeat="class in showClasses">
                                            <a ng-click="showMembersListForClass(class.school, class.name)">{{class.name}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-1"></div>
                        <div class="col-xs-3 text-center">
                            <h4>Studenter</h4>
                        </div>
                        <div class="col-xs-3 text-center">
                            <h4>Lärare</h4>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-xs-3">
                            <ul class="list-unstyled list-group">
                                <li ng-hide="member.$id === 'placeholder'" class="list-group-item edu-clickable" ng-class="{active : activeMemberInClassList.id === member.$id}"
                                    id="{{member.$id}}" ng-click="setActiveMemberInClassList(member.$id, member, 'student')"
                                    ng-repeat="member in classMemberListStudents">
                                    {{member.$value}}
                                </li>
                            </ul>
                            <ul class="list-unstyled list-group">
                                <li ng-hide="member.$id === 'placeholder'" class="list-group-item edu-clickable" ng-class="{active : activeMemberInClassList.id === member.$id}"
                                    id="{{member.$id}}" ng-click="setActiveMemberInClassList(member.$id, member, 'teacher')"
                                    ng-repeat="member in classMemberListTeachers">
                                    Lärare: {{member.$value}}
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-1">
                            <div class="btns-for-class-transfer">
                                <button class="btn btn-clear" ng-click="transferToClass(activeMemberForClassList.id, activeMemberForClassList.name, activeMemberForClassList.type)"><<</button>
                                <button class="btn btn-clear" ng-click="transferFromClass(activeMemberInClassList.id, activeMemberInClassList.type)">>></button>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <ul ng-hide="chosenClass == 'Välj klass'" class="list-unstyled list-group">
                                <li class="list-group-item edu-clickable" ng-class="{active : activeMemberForClassList.id === student.uid}" ng-repeat="student in studentListForClasses"
                                    id="{{student.uid}}" ng-click="setActiveMemberForClassList(student.uid, student.name, 'student')">
                                    <div>{{student.name}}</div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-3">
                            <ul ng-hide="chosenClass == 'Välj klass'" class="list-unstyled list-group">
                                <li class="list-group-item edu-clickable" ng-class="{active : activeMemberForClassList.id === teacher.uid}" ng-repeat="teacher in teacherListForClasses"
                                    id="{{teacher.uid}}" ng-click="setActiveMemberForClassList(teacher.uid, teacher.name, 'teacher')">
                                    <div>{{teacher.name}}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div ng-show="adminTab === 'users'">
            <form class="col-xs-12 col-md-8">
                <div>Skola :</div>
                <input type="text" ng-model="school">
                <br>
                <div>Förnamn :</div>
                <input type="text" ng-model="firstName">
                <br>
                <div>Efternamn :</div>
                <input type="text" ng-model="lastName">
                <br>
                <div>email: </div>
                <input type="text" ng-model="newEmail">
                <br>
                <div>Lösenord :</div>
                <input type="text" ng-model="newPassword">
                <br>
                <div>Typ :</div>
                <input type="text" ng-model="type">
                <button class="btn btn-clear" ng-click="createUser(firstName, lastName, newEmail, newPassword, type, school)">Skapa!</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-xs-12 col-md-10">
            <div ng-show="adminTab === 'feedback'">
                <ul class="nav nav-tabs">
                    <li ng-class="{active : adminFeedbackTab === 'create'}"><a ng-click="setAdminFeedbackTab('create')">Skapa</a></li>
                    <li ng-class="{active : adminFeedbackTab === 'handle'}"><a ng-click="setAdminFeedbackTab('handle')">Se existerande</a></li>
                </ul>
                <br>
                <div ng-show="adminFeedbackTab === 'create'" class="row">
                    <div class="col-xs-12">
                        <h4>Skapa veckans feedback</h4>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <label>Fråga:</label>
                            <div class="form-group">
                                <textarea class="form-control" rows="5" ng-model="weeklyFeedbackQuestion"></textarea>
                                <br>
                                <div class="dropdown">
                                    <button class="btn btn-clear" ng-click="addWeeklyFeedbackQuestion(weeklyFeedbackQuestion, weekFeedbackType)">Lägg till</button>
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="weekFeedbackType" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="true">{{weekFeedbackType}}<span class="caret"></span></button>
                                    <ul class="dropdown-menu" aria-labelledby="weekFeedbackType">
                                        <li><a ng-click="setWeeklyFeedbackAnswerType('Text')">Text</a></li>
                                        <li><a ng-click="setWeeklyFeedbackAnswerType('5-skala')">5-skala</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <ul class="list-unstyled list-group">
                                <li class="list-group-item" ng-repeat="question in weeklyFeedbackForm">
                                    <p>{{question.question}}</p>
                                    <h4>{{question.type}}</h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div ng-show="adminFeedbackTab === 'handle'" class="row">
                    <div class="col-xs-12 col-md-3">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="feedbackWeekSelect" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="true">{{feedbackWeekSelect}}<span class="caret"></span></button>
                            <ul class="dropdown-menu" aria-labelledby="feedbackWeekSelect">
                                <li ng-repeat="week in feedBackWeeks"><a ng-click="weeklyFeedbackSelectForView(week)">{{week}}</a></li>
                            </ul>
                        </div>
                        <br>
                        <div class="dropdown" ng-hide="feedbackWeekSelect === 'Välj vecka'">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="feedbackQuestionSelect" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="true">{{feedbackQuestionSelect.question}}<span class="caret"></span></button>
                            <ul class="dropdown-menu" aria-labelledby="feedbackQuestionSelect">
                                <li ng-repeat="question in feedBackWeeksQuestion"><a ng-click="weeklyFeedbackSelectForViewQuestion(question)">{{question.question}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-9" ng-hide="feedbackQuestionSelect.question === 'Välj fråga'">
                        <div>{{feedbackQuestionSelect.question}}</div>
                        <br>
                        <ul class="list-unstyled list-group">
                            <li class="list-group-item" ng-repeat="feedback in showFeedback">
                                <ul class="list-unstyled">
                                    <li ng-repeat="answer in feedback"><span ng-show="answer.id === feedbackQuestionSelect.id">{{answer.answer}}</span></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>