<div ng-show="showAll === 0" class="ng-cloak">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-xs-12 col-md-8">
            <div>
                <h1>Hej {{user.firstName}}</h1>
            </div>
            <ul class="nav nav-pills">
                <li ng-class="{active : teacherTab === 'news'}"><a ng-click="setMainTab('news')">Nyheter</a></li>
                <li ng-class="{active : teacherTab === 'courses'}"><a ng-click="setMainTab('courses')">Dina Klasser</a></li>
                <li ng-class="{active : teacherTab === 'attendance'}"><a ng-click="setMainTab('attendance')">Närvaro</a></li>
                <li ng-class="{active : teacherTab === 'feedback'}"><a ng-click="setMainTab('feedback')">Feedback</a></li>
            </ul>
        </div>
    </div>
    <br>
    <div ng-show="teacherTab === 'news'">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-xs-12 col-md-5">
                <ul class="list-unstyled list-group">
                    <li class="list-group-item" ng-repeat="news in teacherNews" ng-hide="$index > newsIndex">
                        <p>{{news.date}}<span ng-if="news.type != 'general'" class="badge pull-right">{{news.type}}</span>
                            <span ng-if="news.type === 'general'" class="badge pull-right">Alla</span>
                        </p>
                        <h4>{{news.title}}</h4>
                        <p>{{news.content}}<span class="pull-right">{{news.time}}</span></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-xs-4">
                <button class="btn btn-clear" ng-click="moreNews()">Se mer</button>
            </div>
        </div>
    </div>
    <div ng-show="teacherTab === 'courses'">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-xs-4 col-md-3">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="pickCourseSchedule" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="true">{{pickCourseScheduleSelected}}<span class="caret"></span></button>
                    <ul class="dropdown-menu" aria-labelledby="pickCourseSchedule">
                        <li ng-repeat="course in myCourses"><a ng-click="setPickCourseScheduleSelected(course.$id)">{{course.$id}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div ng-hide="pickCourseScheduleSelected === 'Välj Kurs'" class="row">
            <div class="col-md-1"></div>
            <div class="col-xs-4 col-md-3">
                <form>
                    <div class="row">
                        <div class="col-xs-12">
                            <p>Datum</p>
                            <input type="date" class="form-control" ng-model="date">
                        </div>
                    </div>
                    <br>
                    <p>Tid</p>
                    <div class="row">
                        <div class="col-xs-6">
                            <p>Börjar</p>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="scheduleTimeStart" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="true">{{scheduleTimeStartSelected.time}}<span class="caret"></span></button>
                                <ul class="dropdown-menu" aria-labelledby="scheduleTimeStart">
                                    <li ng-repeat="timeStart in selectStartTime"><a ng-click="setScheduleTimeStartSelected(timeStart.time, timeStart.index)">{{timeStart.time}}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div ng-hide="scheduleTimeStartSelected.time === 'Välj tid'">
                                <p>Slutar</p>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="scheduleTimeEnd" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="true">{{scheduleTimeEndSelected.time}}<span class="caret"></span></button>
                                    <ul class="dropdown-menu" aria-labelledby="scheduleTimeEnd">
                                        <li ng-repeat="timeEnd in selectEndTime"><a ng-click="setScheduleTimeEndSelected(timeEnd.time, timeEnd.index)">{{timeEnd.time}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-12">
                            <p>Moment</p>
                            <input type="text" class="form-control" ng-model="momentum">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <p class="col-xs-12">Böcker</p>
                        <div class="col-xs-6">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="courseBooks" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="true">Välj Bok<span class="caret"></span></button>
                                <ul class="dropdown-menu" aria-labelledby="courseBooks">
                                    <li ng-repeat="book in courseBooks"><a ng-click="addCourseBook(book)">{{book.$id}}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <ul class="list-unstyled list-group">
                                <li class="list-group-item" ng-repeat="book in todaysCourseBooks">
                                    {{book.$id}}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <br>
                    <button class="btn btn-clear" ng-click="addDateToSchedule(date,scheduleTimeStartSelected.time, scheduleTimeEndSelected.time, momentum)">Lägg Till</button>
                </form>
            </div>
            <div class="col-xs-1"></div>
            <div class="col-xs-5">
                <table class="table table-bordered">
                    <th>
                        Datum
                        <td>
                            Tid
                        </td>
                        <td>
                            Moment
                        </td>
                        <td>
                            Referensliteratur
                        </td>
                    </th>
                    <tr ng-repeat="class in mySchedule">
                        <td>
                            {{class.$id}}
                        </td>
                        <td>
                            {{class.time}}
                        </td>
                        <td>
                            {{class.momentum}}
                        </td>
                        <td>
                            <div ng-repeat="(key, value) in class.books">{{key}}</div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div ng-show="teacherTab === 'attendance'">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-xs-12 col-md-6">
                <ul class="nav nav-tabs">
                    <li ng-class="{active : attendanceTab === 'daily'}"><a ng-click="setAttendanceTab('daily')">Dagens</a></li>
                    <li ng-class="{active : attendanceTab === 'course'}"><a ng-click="setAttendanceTab('course')">Kursnärvaro</a></li>
                </ul>
            </div>
        </div>
        <br>
        <div class="row" ng-show="attendanceTab === 'daily'">
            <div class="col-md-1"></div>
            <div class="col-xs-12 col-md-6">
                <ul class="list-unstyled list-group">
                    <li class="list-group-item" ng-repeat="student in students">
                        {{student.firstName}} {{student.lastName}}
                        <span ng-show="student.attendance.status === 3" class="badge badge-success">Här</span>
                        <span ng-show="student.attendance.status === 2" class="badge badge-warning">Sen</span>
                        <span ng-show="student.attendance.status === 1" class="badge badge-error">Ej Här</span>
                        <span ng-hide="student.attendance.status" class="badge">Ej Svarat</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row" ng-show="attendanceTab === 'course'">
            <div class="col-md-1"></div>
            <div class="col-xs-12 col-md-6">
                <table class="table table-bordered">
                    <th>
                        Närvaro
                        <td ng-repeat="date in attendanceDates">{{date}}</td>
                    </th>
                    <tr ng-repeat="student in studentAttendanceStats">
                        <td>{{student.name}}</td>
                        <td ng-repeat="date in student.attendance">
                            <span ng-show="date.attend === 3" class="badge badge-success">Här</span>
                            <span ng-show="date.attend === 2" class="badge badge-warning">Sen</span>
                            <span ng-show="date.attend === 1 || date.attend === 0" class="badge badge-error">Ej Här</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-xs-12 col-md-10">
            <div ng-show="teacherTab === 'feedback'">
                <ul class="nav nav-tabs">
                    <li ng-class="{active : feedbackTab === 'daily'}"><a ng-click="setFeedbackTab('daily')">Dagens</a></li>
                    <li ng-class="{active : feedbackTab === 'weekly'}"><a ng-click="setFeedbackTab('weekly')">Veckans</a></li>
                </ul>
                <br>
                <div ng-show="feedbackTab === 'daily'">
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-clear" ng-click="increaseDailyFeedbackIndex()">Se äldre</button>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-12">
                            <ul class="list-unstyled list-group">
                                <li class="list-group-item" ng-repeat="feed in dailyFeedback" ng-hide="$index > dailyFeedbackIndex">
                                    Likes: <strong>{{feed.likes}}</strong><br>{{feed.$index}} Röster: <span>{{feed.votes}}</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div ng-show="feedbackTab === 'weekly'">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="feedbackWeekSelect" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="true">{{feedbackWeekSelect}}<span class="caret"></span></button>
                                <ul class="dropdown-menu" aria-labelledby="feedbackWeekSelect">
                                    <li ng-repeat="week in feedBackWeeks"><a ng-click="weeklyFeedbackSelectForView(week)">{{week}}</a></li>
                                </ul>
                            </div>
                            <br>
                            <div class="dropdown" ng-hide="feedbackWeekSelect === 'Välj vecka'">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="feedbackQuestionSelect" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="true">{{feedbackQuestionSelect.question}}<span class="caret"></span></button>
                                <ul class="dropdown-menu" aria-labelledby="feedbackQuestionSelect">
                                    <li ng-repeat="question in feedBackWeeksQuestion"><a ng-click="weeklyFeedbackSelectForViewQuestion(question)">{{question.question}}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-1"></div>
                        <div class="col-xs-8" ng-hide="feedbackQuestionSelect.question === 'Välj fråga'">
                            <div>{{feedbackQuestionSelect.question}}</div>
                            <br>
                            <ul class="list-unstyled list-group">
                                <li class="list-group-item" ng-repeat="feedback in showFeedback">
                                    <ul class="list-unstyled">
                                        <li ng-repeat="answer in feedback"><span ng-show="answer.id === feedbackQuestionSelect.id">{{answer.answer}}</span></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>