<div>
    <h1>Hej Läraren</h1>
</div>
<div class="col-xs-12 col-md-6 col-lg-4">
    <ul class="list-unstyled list-group">
        <li class="list-group-item" ng-repeat="student in students">
            {{student.firstName}} {{student.lastName}}
            <span ng-show="student.status === 2" class="badge badge-success">Här</span>
            <span ng-show="student.status === 1" class="badge badge-warning">Sen</span>
            <span ng-show="student.status === 0" class="badge badge-error">Ej Här</span>
        </li>
    </ul>
</div>